{% extends "PSADSearchBundle:Default:layout.html.twig" %}

{% block content %}
    <script>
        var accession_listing_fields = JSON.parse('{{accession_listing_fields | raw}}');
    </script>
    <table class="table table-striped" data-ng-controller="SearchController">
        <thead>
            <tr>
                <th data-ng-repeat="listing_field in accession_listing_fields">造listing_field造</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="accession in accessions">
                <td data-ng-repeat="listing_field in accession_listing_fields">
                    造accession[listing_field]造
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}