{% extends "PGRSearchBundle:Default:layout.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-12">
                        <label for="search_term">Search</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <input class="form-control" id="search_term" placeholder="Term"
                               data-ng-model="params.filters.name">
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-sm" data-ng-click="fetch();">Apply</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" id="paging-container">
                <div class="col-lg-7">
                    <div class="row">
                        <label for="page">Page: </label>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <button class="btn btn-sm" data-ng-click="previous_page();"><span
                                        class="glyphicon glyphicon-chevron-left"></span></button>
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control" id="page" placeholder="Page number"
                                   data-ng-model="params.paging.page" data-ng-change="fetch();">
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-sm" data-ng-click="next_page();"><span
                                        class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <label for="page_size">Page size: </label>
                    <input class="form-control" id="page_size" placeholder="Items per page"
                           data-ng-model="params.paging.page_size"
                           data-ng-change="fetch();">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2 sidebar">
                    <h3>Filters</h3>
                    <ul class="nav nav-sidebar">
                        <li data-ng-repeat="filter in params.filters">
                            <span data-ng-repeat="(key, value) in filter">
                                <span data-ng-if="key === 'filter_type'"><strong>¤value¤</strong></span>
                                <span data-ng-if="key !== 'filter_type'">¤value¤</span>
                            </span>
                        </li>
                    </ul>
                    <div class="col-lg-6">

                    </div>
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal"
                                style="float: right;">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th data-ng-repeat="field in accession_listing_fields">
                                    ¤field¤
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="accession in accessions">
                                <td data-ng-repeat="field in accession_listing_fields">
                                    <span data-ng-if="field === 'collectionDate'">¤format_date(accession[field])¤</span>
                                    <span data-ng-if="field !== 'collectionDate'">¤accession[field]¤</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add a new filters</h4>
                    </div>
                    <div class="modal-body">
                        <label for="new_filter_type">Filter by: </label>
                        <select id="new_filter_type" data-ng-model="new_filter.filter_type"
                                data-ng-options="c for c in accession_filtering_fields"></select>

                        <div data-ng-show="new_filter.filter_type === 'collectionDate'">
                            <label for="collection_date_from">From: </label>
                            <input id="collection_date_from" data-ng-model="new_filter.collection_date_from">
                            <label for="collection_date_to">To: </label>
                            <input id="collection_date_to" data-ng-model="new_filter.collection_date_to">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-ng-click="add_filter();">Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

