{% extends "PGRSearchBundle:Default:layout.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-12">
                        <label for="search_term">Search</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <input class="form-control" id="search_term" placeholder="Term"
                               data-ng-model="params.filters.fts">
                    </div>
                    <div class="col-lg-1">
                        <span id="search-box-tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                              data-placement="top" title="Match against whole words"></span>
                    </div>
                    <div class="col-lg-5">
                        <button class="btn btn-sm" data-ng-click="fetch();"><strong>Quick search</strong></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" id="paging-container">
                <div class="col-lg-7">
                    <div class="row">
                        <label for="page">Page: </label>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <button class="btn btn-sm" data-ng-click="previous_page();"><span
                                        class="glyphicon glyphicon-chevron-left"></span></button>
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control" id="page" placeholder="Page number"
                                   data-ng-model="params.paging.page" data-ng-change="fetch();">
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-sm" data-ng-click="next_page();"><span
                                        class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <label for="page_size">Page size: </label>
                    <input class="form-control" id="page_size" placeholder="Items per page"
                           data-ng-model="params.paging.page_size"
                           data-ng-change="fetch();">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2 sidebar">
                    <h3>Filter box</h3>
                    <ul class="nav nav-sidebar">
                        <h4>Textual</h4>
                        <li class="col-lg-12 crop-name-filter">
                            <label>Crop Name</label>
                            <button class="btn btn-sm float-right" data-ng-click="add_crop_name_filter();">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <div class="crop-name-filter" data-ng-repeat="crop_name_filter in params.filters.crop_name">
                                <select class="form-control"
                                        data-ng-options="c.type as c.name for c in string_filtering_choices"
                                        data-ng-model="crop_name_filter.type"></select>
                                <input type="text" class="form-control" data-ng-model="crop_name_filter.value"/>
                                <a href="#" data-ng-click="remove_crop_name_filter(crop_name_filter);">Clear</a>
                            </div>
                        </li>
                        <li class="col-lg-12 crop-name-filter">
                            <label>Taxon</label>
                            <button class="btn btn-sm float-right" data-ng-click="add_taxon_filter();">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <div class="crop-name-filter" data-ng-repeat="taxon_filter in params.filters.taxon">
                                <input type="text" class="form-control" data-ng-model="taxon_filter.value"
                                       typeahead="taxon as taxon.name for taxon in get_typeahead_taxa($viewValue) | filter:$viewValue"
                                       typeahead-wait-ms="300" typeahead-editable="false"/>
                                <a href="#" data-ng-click="remove_taxon_filter(taxon_filter);">Clear</a>
                            </div>
                        </li>
                        <h4>Temporal</h4>
                        <li>
                            <label for="collection-date-from">Collection date from</label>
                            <input id="collection-date-from" class="form-control"
                                   data-ng-model="params.filters.collection_date_from"/><a href="#"
                                                                                           data-ng-show="params.filters.collection_date_from"
                                                                                           class="clear-filter"
                                                                                           data-ng-click="clear_selected_filter('collection_date_from');">Clear</a>
                        </li>
                        <li>
                            <label for="collection-date-to">Collection date to</label>
                            <input id="collection-date-to" class="form-control"
                                   data-ng-model="params.filters.collection_date_to"/><a href="#"
                                                                                         data-ng-show="params.filters.collection_date_to"
                                                                                         class="clear-filter"
                                                                                         data-ng-click="clear_selected_filter('collection_date_to');">Clear</a>
                        </li>
                        <li>
                            <label for="recording-date-from">Recording date from</label>
                            <input id="recording-date-from" class="form-control"
                                   data-ng-model="params.filters.recording_date_from"/><a href="#"
                                                                                          data-ng-show="params.filters.recording_date_from"
                                                                                          class="clear-filter"
                                                                                          data-ng-click="clear_selected_filter('recording_date_from');">Clear</a>
                        </li>
                        <li>
                            <label for="recording-date-to">Recording date to</label>
                            <input id="recording-date-to" class="form-control"
                                   data-ng-model="params.filters.recording_date_to"/><a href="#"
                                                                                        data-ng-show="params.filters.recording_date_to"
                                                                                        class="clear-filter"
                                                                                        data-ng-click="clear_selected_filter('recording_date_to');">Clear</a>
                        </li>
                        <li>
                            <button class="btn btn-sm filter-button" data-ng-click="discard_fts_and_fetch();"><strong>Apply</strong>
                            </button>
                            <button class="btn btn-sm filter-button" data-ng-click="clear_filters();">
                                <strong>Discard</strong></button>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-10">
                    <div class="table-responsive">
                        <div class="row">
                            <button class="btn btn-sm float-left" data-ng-click="export_results_xls();">
                                Export to Excel
                            </button>
                            <button class="btn btn-sm float-right" data-ng-click="toggle_listing();">
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-show="show_listing_selections"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-show="!show_listing_selections"></span>
                            </button>
                            <label id="listing-selection-label" for="listing-selection-button">Listing
                                selections</label>
                        </div>
                        <div class="row">
                            <div id="listing-selections-box" data-ng-show="show_listing_selections">
                                <div class="accession-selection-input-group input-group col-lg-1"
                                     data-ng-repeat="field in accession_listing_fields">
                                <span class="input-group-addon">
                                    <input class="accession-selection-checkbox" type="checkbox"
                                           name="accession_listing_fields[]"
                                           value="¤field¤"
                                           data-ng-checked="accession_listing_fields_selection.indexOf(field) > -1"
                                           data-ng-click="toggle_selection(field)"
                                            > ¤field¤
                                </span>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th data-ng-repeat="field in accession_listing_fields_selection">
                                    ¤field¤
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="accession in accessions">
                                <td data-ng-repeat="field in accession_listing_fields_selection">
                                    <span data-ng-if="field === 'collectionDate' || field === 'recordingDate'">¤format_date(accession[field])¤</span>
                                    <span data-ng-if="field !== 'collectionDate' && field !== 'recordingDate'">¤accession[field]¤</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

